<!-- Modal -->
<div class="modal fade" id="modal-container" tabindex="-1" role="dialog" aria-labelledby="exampleModalLabel" aria-hidden="true">
    <div class="modal-dialog" role="document">
        <div class="modal-content">
            @*{ Html.RenderPartial("_CreateNorm", new Norm()); }*@
        </div>
    </div>
</div>
