@{
    ViewBag.Title = "Index";
    Layout = "~/Views/Shared/_LayoutAdmin.cshtml";
}

<h1>Administracija</h1>
<hr>
<a class="btn btn-primary" href="#" id="toggleNavPosition">Fiksiraj navigaciju</a>
<a class="btn btn-primary" href="#" id="toggleNavColor">Promjeni boju</a>
<hr />

