@{
    ViewBag.Title = "Home Page";
}
<div class="row">
    @Html.Action("OrganisationCard", "Organisations")
    @Html.Action("ReportCard", "Reports")
</div>
<div class="jumbotron">
    <h1>GAP Analiza</h1>
    <p class="lead">Dobro došli na stranice za vođenje GAP analize.</p>
    <div class="row">
        @Html.Action("JumbotronMessages", "HomeMessages")
    </div>
</div>
